$--font-size-extra-large: 26px;
$--font-size-medium: 22px;
$--font-size-base: 18px;

$--color-main-placeholder: #bdbdbd;
$--color-main-content: #222222;
$--color-active-game-field-cell: #76b3ff;
$--color-player-game-field-cell: #8aff92;
$--color-computer-game-field-cell: #ff4646;
